body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center-page {
  width: max-content;
  margin: auto;
}

input {
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid gray;
  margin: 10px;
}
.button {
  background-color: green;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  margin: 10px;
}
.disabled {
  background-color: gray;
  cursor: not-allowed;
}
.red-button {
  background-color: rgb(255, 82, 82);
}

.button:hover {
  filter: brightness(110%);
}
.category-box {
  color: black;
  padding: 15px 20px;
  border: 1.5px solid green;
  text-decoration: none;
  border-radius: 10px;
  margin: 10px;
}
table {
  width: 90vw;
  margin: auto;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
